<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrination</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Registor</h1>
    <form action="/registrator" method="post">
        <div>
            <label>Please Input Your Name</label>
            <input type="text" name="name"/>
        </div>
        <div>
            <label>Please Input Your Email</label>
            <input type="email" name="email"/> 
        </div>
        <div>
           <label>Please Input Your Password</label>
            <input type="password" name="password"/>  
        </div>
        <button type="submit">Register</button>
    </form>
    <a href="/login">If you are registered, click here to log in to your account.</a>
</body>
</html>
